.container {
  margin-top: 30vh !important;
}

.col {
  align-items: center;
  text-align: center;
  padding:: 1px;
}

h1 {
  font-size: 60px !important;
}

button {
  background-color: #084298 !important;
}

button:hover {
  background-color: #0d6efd !important;
}
