body {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: #ffffff;
}

.color-login {
  background-color: #084298;
}

.color-boton {
  background-color: #0d6efd;
  color: #ffffff;
}

.left-login {
  background-image: url('../images/img1.jpg');
  background-size: cover;
  background-position: center;
}

.logo img {
  width: 270px;
}

.logo-form img {
  width: 300px;
  margin-bottom: 50px;
}

.titulo-sesion {
  font-size: 35px;
  color: #fff;
}

.login-form{
  color: #fff;
}