body {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: #ffffff;
}

.bg-dark{
    background-color: #15181f !important;
}

.btn {
    font-weight: 400px;
    padding: 10px 20px;
    border-radius: 50px;
    min-width: 100px;
}

.login-bg {
    background-image: url('../images/img2.jpg');
    background-size: cover;
    background-position: center;
}

