/* .materias-container {
  width: 100%;
  flex-direction: row;
} */
.top {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.top .materia-title {
  font-size: 30px;
  color: #084298;
  font-weight: 700;
  width: 50%;
  text-align: center;
  margin-bottom: 20px;
}
.top .form-img-container {
  width: 50%;
  display: flex;
}
.top .form-img-container .form-img {
  width: 60%;
  margin: 0px auto;
  background: #084298;
  padding: 10px;
  border-radius: 20px;
}
.bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.bottom .materia-form {
  width: 100%;
  padding: 10px;
}
.bottom .materia-form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.bottom .materia-form form input {
  width: 100%;
  margin-bottom: 20px;
}
.bottom .materia-buttons .btn-materia-form {
  margin: 0px 10px;
  border-radius: 20px;
  border: none;
  background: #084298;
  color: #fff;
  padding: 10px;
  margin-bottom: 20px;
}
.bottom .materia-buttons .btn-materia-form:disabled {
  background: #ccc;
}

@media screen and (min-width: 840px) {
  .top {
    flex-direction: row;
  }
  .bottom .materia-form form {
    align-items: flex-start;
  }
}
