.navbar {
  width: 100%;
  background-color: #084298;
}
.navbar-img {
  width: 180px;
}
.navbar-nav .nav-item .nav-link .nav-icon {
  font-size: 20px;
  margin-right: 30px;
}
.navbar-nav .nav-item .nav-link .nav-icon {
  color: #fff;
  transition: 0.3s;
}
.navbar-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 640px) {
  .navbar-img {
    width: 280px;
  }
}
